* {
	padding: 0;
	margin: 0;
}

	color: brown;
	background-color: #CCCC;
	font-family: Arial, serif;
}

h1 {
	color: blue;
	background-color: red;
	text-align: center;
	font-family: Helvetica; serif;
}

h2 {
	color: blue;
	background-color: yellow;
	font-family: Times New Roman, sans-serif;
	text-align: center;
}

ul {
	color: blue;
	background-color: red;
	font-family: Arial, serif;
}