<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap');
</style>

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #808080;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.3;
}
header {
	background-color: white;
	color: black;
	padding: 20px;
}

#wrapper {
	width:1080px;
	margin: 0 auto;
	background-color: white;
}


#second {
	font-weight: bold;
	text-decoration: italic;
	font-size: 24px;
	color: red;
}

.family {
	font-size: 150px;
	font-weight: bold;
	color: red;
}

p {
	display: inline;
	color: black;
	padding: 10px;
	border-bottom: 5px black solid;
}

div {
	font-size: 32px;
	color: red;
}

img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

a {
	color: #35a67c;
	text-decoration: none;
}

nav {
	background-color: gray;
	text-align: center;
}

nav a {
	color: white;
	font-style: italic;
	margin-right: 10px;
	padding: 10px 0;

}

nav a:hover {
	color:blue;
	background-color: red;
}
}

h1 {
	color: #243836;
	background-color: red;
	text-align: center;
	font-weight: bold;
	text-decoration: italic;
	font-family: 'Noto Serif', serif;
}

h2 {
	color:  #243836;
	background-color: red;
	font-family: 'Noto Serif', serif;
	text-align: center;
	float: left;

}

ul {
	color: blue;
	background-color: red;
	font-family: Arial, serif;
}

footer {
	text-align: center;
	padding: 1em 0;
	clear: both;
}

footer p {
	float: right;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	font-size: 0;
	visibility: hidden;
	height: 0;
}